/* .cv-heading-main {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.cv-heading-sub {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.cv-heading-small {
  font-size: 0.9rem;
  color: #666;
  font-style: italic;
  margin-top: 2rem;
} */
